@import 'src/shared/styles/_base';
@import 'src/shared/styles/_styles';

.container {
  @include flex(_, center);
  @include mobile-end {
    padding-left: 20px;
    padding-right: 0;
  }
  @include tablet {
    @include flex(space-between);
  }

  @include desktop {
    justify-content: start;
  }
}

@include mobile-end {
  .userInfo_container {
    margin-left: auto;
    margin-right: 20px;
  }
}

.header {
  position: relative;
  border-bottom: 1px solid $line-color;
}
.navbar_wrapper {
  display: none;
}

.right_side_wrapper {
  @include flex(center, center);
  width: 56px;
  height: 70px;
  border-left: 1px solid $line-color;
}
.burger_button {
  border: none;
}

.close_icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 27px 20px;
  border-left: 1px solid #e2e3e5;
}

.wrapper_nav_list {
  text-align: center;
  margin-top: 26px;
}
.logout_icon {
  display: block;
  margin: 0 auto;
  border: none;
  background-color: transparent;
}
.nav_contacts_wrapper {
  display: none;
}
.logout_wrapper {
  display: none;
}

@include tablet {
  .right_side_wrapper {
    display: none;
  }

  .navbar_wrapper {
    @include flex(center, center);
  }
  .nav_contacts_wrapper {
    @include flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .link_nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: $primary-text-color;
  }

  .btnLogOut {
    display: none;
    @include tablet {
      display: block;
      border: none;
      fill: $primary-text-color;
    }
  }
  .logout_wrapper {
    @include flex(center, center);
    padding-left: 20px;
    height: 70px;
    border-left: 1px solid $line-color;
  }
}

@include desktop {
  .navbar_wrapper {
    @include flex(center, center);
    margin-left: auto;
    margin-right: 68px;
  }
}
