@import 'src/shared/styles/_base';
@import 'src/shared/styles/_styles';

.test_item {
  width: 280px;
  height: 212px;
  background-color: $secondary-bg-color;
  padding: 60px 12px 46px 12px;

  &:hover {
    background-color: $accent-color;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.test_link {
  @include flex(center, center);
  flex-direction: column;
  cursor: pointer;
  font-weight: 800;
  font-size: 32px;
  line-height: 1.22;
  color: $white-color;
  text-align: center;
  text-decoration: none;
}
.arrow {
  padding-top: 12px;
}
@include tablet {
  .test_item {
    width: 400px;
    &:nth-last-child(1) {
      padding: 60px 134px 46px 134px;
    }
  }
}

@include desktop {
  .test_item {
    &:nth-last-child(2) {
      padding: 60px 60px 46px 60px;
    }

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
