@import 'src/shared/styles/base';

.logOutModal {
  &Container {
    padding: 40px;
  }
  &Text {
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 0.2em;
    color: #000000;
  }
  &BtnContainer {
    margin-top: 30px;
    @include flex(center, center);
  }
  &Btn {
    width: 109px;
    height: 60px;
    color: #fafafa;
    text-align: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    border-radius: 6px;
    cursor: pointer;
    margin-right: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    background-color: $button-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      background-color: $accent-color;
      outline: none;
    }
    @include tablet {
      width: 201px;
      height: 60px;
    }
  }
}
