$primary-bg-color: #f5f6fb;
$secondary-bg-color: #02172a;
$accent-color: #ffaf0f;
$primary-text-color: #000000;
$secondary-text-color: #555555;
$white-color: #ffffff;
$line-color: #e2e3e5;

$mobile-end: 599px;
$tablet: 600px;
$tablet-end: 1279px;
$desktop: 1280px;
