@import 'src/shared/styles/_base';
@import 'src/shared/styles/_styles';

.item {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.6;
  color: $primary-text-color;
  list-style: decimal;
  @include mobile-end {
    width: 210px;
  }
  @include tablet {
    font-size: 14px;
    line-height: 1.57;
  }
  @include tablet-snippet {
    width: 250px;
  }
}
